<div class="history container" id="about">
  <div class="history-heading">
    <h1>
      <span>A brief history </span>
      <span>About me</span>
      <span class="highlight-line"></span>
    </h1>
  </div>
  <div class="overlay-polka"><img src="assets/images/polka-dot.svg" alt=""></div>
  <div class="history-content">
    <div class="history-about">
      <p>{{ shortHistory }}</p>
    </div>
    <div class="history-skills">
      <h3>SKILLS</h3>
      <div class="columns">
        <ul class="skill-list neutral-list">
          <li class="skill-item">HTML</li>
          <li class="skill-item">CSS > Bootstrap</li>
          <li class="skill-item">CSS SVG Animations</li>
          <li class="skill-item">Vanilla Javascript</li>
          <li class="skill-item">AJAX</li>
        </ul>
        <ul class="skill-list neutral-list">
          <li class="skill-item">Node + Express + MongoDB + REST</li>
          <li class="skill-item">Angular</li>
          <li class="skill-item">React</li>
          <li class="skill-item">Passport + Societ.io + GraphQL</li>
          <li class="skill-item">Python > Machine Learning</li>
        </ul>
      </div>
    </div>
  </div>
</div>
